
#device ul{
	width: 1312px;
	overflow: hidden;
	padding-bottom: 100px;
}
#device ul li{
	width: 216px;
	margin-right: 112px;
	float: left;
	margin-top: 100px;
}
#device ul li a{}
#device ul li a img{
	width: 216px;
	height: 216px;
	transition:0.5s;
	border:3px solid #fff;
	border-radius: 10px;
}
#device ul li a:hover img{
	border-color: #98b900;
}
#device ul li a:hover span.title {
	color: #98b900;
}
#device ul li a span.title{
	font-size: 18px;
	color: #2c2c2c;
	width: 100%;
	display: block;
	text-align: center;
	padding-top: 20px;
}



