@charset 'utf-8';

#login{
	width: 100%;
	height: 628px;
	background: url(../images/login_bg.jpg) center center no-repeat;
}
#login .login{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

#login .login .bg{
	position: absolute;
	top: 100px;
	right: 0px;
	width: 480px;
	height: 450px;
	background: #fff;
	opacity: 0.6;
	filter: alpha(opacity=60);
}
#login .login form{
	width: 480px;
	height: 420px;
	position: absolute;
	top: 100px;
	right: 0px;
	padding: 40px;
}
#login .login form dl{
	width: 100%;
}
#login .login form dl dt{
	width: 100%;
	height: 50px;
	display: block;
}
#login .login form dl dt p{
	font-size: 14px;
	color: #676767;
}
#login .login form dl dt p span.title{
	font-size: 20px;
	font-weight: 800;
	color: #373737;
	float: left;
}
#login .login form dl dt p span.right{
	float: right;
}
#login .login form dl dt p span.right a{
	color: #ca0000;
}

#login .login form dl > p{
	margin: 10px 0;
}
#login .login form dl p label{
	cursor: pointer;
}
#login .login form dl dd{
	height: 44px;
	border:1px solid #a6a6a6;
	background: #fff;
	line-height: 42px;
	text-indent: 1em;
	font-size: 14px;
	color: #373737;
	margin-bottom: 10px;
}
#login .login form dl input[type='submit']{
	width: 100%;
	height: 44px;
	border: none;
	background: #99b900;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
	transition:0.5s;
	margin-top: 20px;
}
#login .login form dl input[type='submit']:hover{
	background: #5c8f01;
}

#login .login form dl dd input[type='text']{
	width: 310px;
	height: 38px;
	border: none;
	font-size: 16px;
	background: none;
}
#login .login form dl dd select{
	width: 310px;
	height: 38px;
	font-size: 14px;
	border: none;
}

#yzm{
	position: relative;
	width: 100%;
	height: 44px;
}
#login .login form dl dd.yzm{
	width: 280px;
	position: absolute;
	top: 0;
	left: 0;
}
#login .login form dl dd.yzm input{
	width: 195px;
}
#yzm #c2c98f0de5a04167a9e427d883690ff6{
	width: 115px;
	height: 42px;
	border: 1px solid #a6a6a6;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}


























