@charset 'utf-8';

a:hover{
	color: #98b900;
	transition:all .5s;
	-moz-transition:all .5s; /* Firefox 4 */
	-webkit-transition:all .5s; /* Safari and Chrome */
	-o-transition:all .5s; /* Opera */
}
.transition{
	transition:all .5s;
	-moz-transition:all .5s; /* Firefox 4 */
	-webkit-transition:all .5s; /* Safari and Chrome */
	-o-transition:all .5s; /* Opera */
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#head{
	min-width: 1200px;
	width: 100%;
}
#head .top{
	width: 1200px;
	height: 95px;
	margin: 0 auto;
	position: relative;
}
#head .top h1{
	width: 397px;
	height: 94px;
	position: absolute;
	top: 0;
	left: 0;
}
#head .top h1 a{
	width: 100%;
	height: 100%;
	display: inline-block;
}
.topMember{
	position: absolute;
	top: 35px;
	right: 380px;
	color: #98b900;
}
.topMember a{
	font-size: 18px;
	color: #d10000;
}
.topMember a:hover{
	color: #98b900;
}
#search{
	width: 360px;
	position: absolute;
	top: 26px;
	right: 0;
	border: 1px solid #c5c5c5;
	height: 46px;
	width: 360px;
	border-radius: 3px;
}
#search input[type='text']{
	width: 288px;
	height: 44px;
	font-size: 16px;
	text-indent: 1em;
	color: #98b900;
	border: none;
}
#search .btn{
	width: 60px;
	height: 44px;
	float: right;
	background-position: 14px 10px;
	background-repeat: no-repeat; 
	transition:0.5s;
}
#search .btn i{
	width: 60px;
	height: 44px;
	display: block;
	font-size: 26px;
	color: #b8b8b8;
	font-weight: 800;
	cursor: pointer;
	text-align: center;
	line-height: 46px;
}
#search .btn:hover{
	background-color: #98b900;
}
#search .btn:hover i{
	color: #fff;
}

/*导航*/ 
#nav{
	background: #98b900;
}
.layui-nav{
	border-radius: 0;
	padding: 0;
	background: #98b900;
	width: 1200px;
	margin: 0 auto;
}

.layui-nav .layui-nav-more {
    border-color: #fff transparent transparent;
}
.layui-this .layui-nav-more{
	border-color: #2F4056 transparent transparent;
}
.layui-nav .layui-nav-mored {
	top: 22px;
    border-color:  transparent transparent #2F4056;
}

.layui-nav .layui-this::after,.layui-nav-bar{
	background-color: #2F4056;
	transition: all .3s;
	-webkit-transition: all .5s;
}
.layui-this a{
	color: #2F4056 !important;
}
..layui-nav-child{
	border: 1px solid red;
}
.layui-nav li.layui-nav-item{
	width: 147.5px;
	line-height: 54px;
}
.layui-nav li.layui-nav-item a{
	font-size: 16px;
	text-align: center;
	color: #fbfbfb;
}
.layui-nav li.layui-nav-item a:hover{
	color: #2F4056;
}
.layui-nav li.layui-nav-item dd a{
	color: #666;
	font-size: 12px;
}
.layui-nav-child{
	top: 55px !important;
}

/*脚注*/
#footer{
	width: 100%;
	min-width: 1200px;
	background: #e9e7e7;
	clear: both;
}
#footer .footer{
	width: 1200px;
	height: 210px;
	margin: 0 auto;
	padding-top: 50px;
}
#footer .footer .line{
	border-right: 1px solid #a4a4a4;
	height: 115px;
	float: left;
}
#footer .footer .box1{
	width: 460px;
	float: left;
}
#footer .footer .box1 ul{
	padding-bottom: 16px;
}
#footer .footer .box1 ul li{
	display: inline-block;
}
#footer .footer .box1 ul li a{
	font-size: 14px;
	color: #414141;
}
#footer .footer .box1 .address{
	padding-bottom: 16px;
	line-height: 25px;
}

#footer .footer .box1 ul li a:after{
	content: ' | ';
}
#footer .footer .box1 ul li:last-child a:after{
	content: '';
}

#footer .footer .box2{
	width: 480px;
	height: 100px;
	float: left;
	position: relative;
}
#footer .footer .box2 div#weixinImg{
	width:150px;
	height:150px;
	position: absolute;
	top: -160px;
	right: 20px;
	display: none;
}
#footer .footer .box2 div#weixinImg img{
	width: 100%;
	height: 100%;
}
#footer .footer .box2 ul{
	text-align: center;
	padding-top: 25px;
	position: absolute;
	top: 0;
	left: 60px;
}
#footer .footer .box2 ul li{
	display: inline-block;
	margin: 0 15px;
}
#footer .footer .box2 ul li a{
	width: 60px;
	height: 51px;
	display: block;
}

#footer .footer .box3{
	width: 230px;
	float: left;
	text-align: center;
}

#footer .bottom{
	width: 100%;
	min-width: 1200px;
	text-align: center;
	height: 60px;
	background: #d6d6d6;
	margin: 0 auto;
	font-size: 12px;
	color: #414141;
	line-height: 60px;
}
#footer .bottom a{
	color: #414141; 
}

.container{
	width: 1200px;
	margin: 0 auto;
}

/*分页*/
#page{
	text-align: center;
	padding-top: 20px;
}
.page{
	width: 100%;
	margin-top: 50px;
}
.page ul{
	text-align: left;
	text-align: center;
}
.page ul li{
	display: inline-block;
}
.page ul li a{
	padding: 8px 12px;
	border: 1px solid #ededed;
	font-size: 12px;
	color: #3c3c3c;
	display: inline-block;
}
.page ul li a:hover,.page ul li.active a{
	background: #ededed;
	color: #fc8f5d;
}

/*QuickBar*/
#quickBar{
	border:1px solid #ddd;
	z-index: 99;
	border-radius: 5px;
	width: 80px;
	position: fixed;
	right: 20px;
	text-align: center;
	background-color: rgba(255, 255, 255, .7);
}

#quickBar dl dd{
	margin: 10px 0;
}
#quickBar dl dd a{
	display: block;
	padding: 5px 0;
}
#quickBar dl dd a:hover{
	background-color: rgba(0, 0, 0, .1);
}










