@charset 'utf-8';

body{
	padding: 50px;
}
.bottom{
	clear: both;
	width: 100%;
	height: 1px;
}
.face{
	width: 210px;
	height: 270px;
	float: left;
	margin-right: 50px;
	border: 1px solid #eee;
	padding: 1px;
}
.face img{
	width: 100%;
	height: 100%;
}

.info{
	color: #3c3c3c;
	float: left;
	width: 430px;
}
.info .name{
	font-size: 30px;
	padding: 8px 0;
}
.info .keshi{
	font-size: 16px;
	padding: 8px 0;
}
.info .shanchang{
	padding: 8px 0;
}
.info .shanchang,.info .jianjie{
	font-size: 14px;
	line-height: 26px;
}
.info .num,.info .category,.info .records{
	margin-top: 10px;
}
.info .num{
	margin-top: 20px;
}

.layui-form{
	padding-top: 30px;
}



